/vendor
/node_modules
/.git
/.env
/.env.*
!.env.example
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/hot
/public/storage
/tests
/.gitattributes
/.gitignore
/.editorconfig
/phpunit.xml
README.md
/.dockerignore
Dockerfile
.env.backup
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode